body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

html, main {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-top: -0.45rem;
  position: relative;
}
a:hover .author {
  visibility: visible;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
  margin: 0 auto;
}

.footer {
  z-index: 2;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  background: white;
  color: black;
  top: 93vh;
  font-size: 1rem;
  font-weight: 100;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  margin-bottom: 3rem;
}
.footer-copyright div {
  display: flex;
  gap: 1rem;
}
.footer-copyright img {
  height: 1.2rem;
  width: fit-content;
  object-fit: cover;
  transition: all 0.3s ease;
}
.footer-copyright img:hover {
  filter: contrast(0.5);
  transition: all 0.3s ease;
}
.footer-copyright a:hover {
  color: darkslategray;
}

h2 {
  font-weight: 100;
  font-size: 2rem;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

img {
  width: 20rem;
  height: 21rem;
  object-fit: cover;
  display: inline-block;
  filter: grayscale(1);
  transition: all 0.2s linear;
  margin: 0.1rem 0;
}
img:hover {
  filter: grayscale(0);
}

.author {
  mix-blend-mode: difference;
  visibility: hidden;
  box-sizing: border-box;
  color: white;
  font-size: 0.5rem;
  transition: all 0.1s ease;
  z-index: 1;
  margin: 1rem;
  position: absolute;
}

.search-box h2 {
  background: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form input {
  font-family: "Inter", sans-serif;
  width: 20rem;
  height: 2rem;
  background: white;
  border: none;
  outline: 3px dashed black;
  box-sizing: border-box;
  color: black;
  border-radius: 0;
  padding: 0.2rem 1rem;
  transition: all 0.1s ease;
  margin-bottom: 0.8rem;
  caret-color: gray;
}
form input:focus, form input:focus-visible {
  box-shadow: 0 0 15px 0rem black;
  background: black;
  border-radius: 0;
  color: white;
  border: none;
  outline: 2px dashed black;
  font-weight: 600;
}
form input::placeholder {
  color: gray;
}
form button.submit {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  width: fit-content;
  background: black;
  color: white;
  text-transform: uppercase;
  border: 0.3rem dotted black;
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
  margin: 0 auto 1rem;
  cursor: pointer;
  top: 3rem;
  position: relative;
}
form button.submit:hover {
  transform: skewX(-10deg);
}

.search .container {
  position: relative;
  width: 20rem;
  height: 6rem;
  margin: 1.5rem 0;
  justify-content: flex-start;
}
.search-input {
  position: fixed;
  z-index: 2;
}
.search-input__button {
  position: absolute;
  right: 0.4rem;
  top: 0.5rem;
  bottom: 0;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  appearance: none;
  border: none;
  border-radius: 50%;
  background: black;
  margin: 0;
  padding: 2px;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  display: none;
  transition: all 0.2s ease;
}
.search-input__button:hover {
  background: red;
}

.input-field.touched:focus + .search-input__button, .input-field.touched:hover + .search-input__button, .input-field.touched + .search-input__button:hover {
  display: inline-flex;
}

.loader {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 70vh;
  margin: 0 auto;
  transition: all 0.2s linear;
}
.loader div {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: black;
  animation: lds-grid 1.2s linear infinite;
}

.loader div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.loader div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.loader div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.loader div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.loader div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.loader div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.loader div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.loader div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}