img
    width: 20rem
    height: 21rem
    object-fit: cover
    display: inline-block
    filter: grayscale(1)
    transition: all 0.2s linear
    margin: 0.1rem 0
    &:hover
        filter: grayscale(0)
.author
    mix-blend-mode: difference
    visibility: hidden
    box-sizing: border-box
    color: white
    font-size: 0.5rem
    transition: all 0.1s ease
    z-index: 1
    margin: 1rem
    position: absolute

        