form.search
    h2 Get inspiration
    .container 
        .search-input
            input(type='text', placeholder='Put your ideas here', autocomplete='off', name='searchTerm', autofocus).input-field
            button(type="reset", aria-label="Clear input", title="Clear input").search-input__button ×
        button(type='submit').submit Find